@import "section styles/top-menu.css";
@import "section styles/hero-header.css";
@import "section styles/slider-info-section.css";
@import "section styles/new-random-topic.css";
@import "section styles/main-content.css";
@import "section styles/newsletter.css";
@import "section styles/footer.css";


@font-face {
    font-family: 'isans' ;
    src: url('../fonts/isans.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/maicons.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: rtl;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.wrapper-margin-top {
    margin-top: 20px;
}

.main-wrapper {
    background: #fff;
}

.wrapper-free-style {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px #efefef;
    border: 1px solid #efefef;
}

*, body {
    font-family: isans;
}

body {
    /*background: #efefef;*/
    background: url("../img/bg-pattern.gif") repeat;
}

a {
    text-decoration: none !important;
}

ul, li {
    list-style: none;
}

.padding-reset {
    padding: 0;
}

.user-avatar {
    padding: 5px;
    border: 1px solid #d4d4d4;
}

.margin-center {
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 1px 1px 2px 0 #efefef;
    border-radius: 3px;
}

/*
********************************************/
.section-title h5 {
    border-bottom: 1px solid #efefef;
    text-align: center;
    padding: 14px 0 13px 0;
    font-size: 17px;
    background-color: #ffffff;
    margin: 0;
    color: #85a266;
    font-weight: bold;
}

.course-info {
    padding: 20px;
    border: 1px solid #efefef;
    margin: 15px;
    -moz-box-shadow: 1px 1px 2px 0 #efefef;
    -webkit-box-shadow: 1px 1px 2px 0 #efefef;
    box-shadow: 1px 1px 2px 0 #efefef;
}

/*.course-thumbnail{
    margin-bottom: 20px;
}*/
.course-thumbnail img {
    width: 100%;
}

.course-title {
    line-height: 42px;
    margin: 0;
    border-bottom: 1px solid #f9f9f9;
    padding: 10px;
}

.course-detail {
    position: relative;
}

.course-detail h3 {
    color: #e67e22;
    font-size: 22px;
    font-weight: bold;
}

.course-info-tooltip {
    position: absolute;
    top: 19px;
    left: 0;
}

.course-info-tooltip i {
    font-size: 29px;
    color: #b3b3b3;
}

.course-meta ul {
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
}

.course-meta ul li i {
    font-size: 19px;
    color: #babaff;
    vertical-align: -5px;
}

.tasks-progressbar, .vote, .ads {
    padding: 20px 0;

}

.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.label-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.label-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btn-vote {
    margin: 20px 0;
}

.ads a img {
    margin-bottom: 10px;
}
